
.searchbar{
    background-color: white;
    width: 38%;
    border-radius: 2px;
    margin-left: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    font-family: unset;
}

.search_icon{
    display: flex;
    color: blue;
padding-top: 5px;
padding-right: 5px;
}

.input{
    width: 100%;
}